.main-container {
    display: flex;
}

.items-information {
    margin-top: 6rem;
    width: 100vw;
    height: 100vh;
}

.car-container {
    display:flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.car-cat {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    width: 100%;
    justify-content: center;
}

/* Product Card */
.card {
    flex: 0 0 calc(33.33% - 20px); /* Adjust width for 3 cards per row with 20px gap */
    max-width: calc(26.33% - 20px); /* Adjust max-width for 3 cards per row with 20px gap */
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    position: relative;
    gap: 20px;
}

/* Pseudo-classes - Hover effect on product button */
.card:hover {
    /* transform: scale(1.05); */
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.product-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-cost {
    color: #e74c3c;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-image {
    max-width: 100%;
    height: 200px; /* Adjust height for better consistency */
}

.product-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.product-button:hover {
    background-color: #45a049;
}

.product-card::before {
    position: absolute;
    top: 0;
    right: 0;
   
}